@media (max-width:1200px) {
    
}

@media (max-width: 991px) {
    .promo {
        padding: 20px 50px;
    }
    .advantages {
        &_items {
            display: block;
            padding: 0 150px;
        }
        &__inf {
            width: auto;
        }
    }
    .consultation {
        text-align: center;
        .title_left {
            text-align: center;
        }
        .form_container {
            display: flex;
            justify-content: center;
        } 
    }
    .catalog {
        padding: 0 150px;
        &__content {
            justify-content: center;
        }
    }
    .comments {
        padding: 85px;
    }
}

@media (max-width:767px) {
    .promo {
        .header__official {
            display: none;
        }
        &_button_container {
            text-align: center;
        }
        &_wrapper {
            align-items: center;
        }
    }
    .catalog {
        padding: 0;
        &__tabs {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            li {
                margin-top: 5px;
            }
        }
        &__content {
            justify-content: center;
        }
    }
    
}

@media (max-width:575px) {
    .promo {
        padding: 25px;
    }
    .advantages {
        &__text {
            padding: 0;
        }
    }
    .consultation {
        padding: 50px 0;
        .title_left {
            font-size: 29px;
        }
        &_descr {
            font-size: 17px;
        }
    }
    .comments {
        &_wrapper {
            display: block;
        }
        &_name {
            margin-top: 10px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
}