@media (max-width:1200px) {
    
}

@media (max-width: 991px) {
    .promo {
        padding: 20px 50px;
    }
    .advantages {
        &_items {
            display: block;
            padding: 0 150px;
        }
        &__inf {
            width: auto;
        }
    }
    .consultation {
        text-align: center;
        .title_left {
            text-align: center;
        }
        .form_container {
            display: flex;
            justify-content: center;
        } 
    }
}

@media (max-width:767px) {
    .promo {
        .header__official {
            display: none;
        }
        &_button_container {
            text-align: center;
        }
        &_wrapper {
            align-items: center;
        }
    }
    
}

@media (max-width:575px) {
    .promo {
        padding: 25px;
    }
    .advantages {
        &__text {
            padding: 0;
        }
    }
    .consultation {
        padding: 50px 0;
        .title_left {
            font-size: 29px;
        }
        &_descr {
            font-size: 17px;
        }
    }
}