.advantages {
    padding: 70px 0 82px 0;
    background: #F6F6F6;
    &_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    } 
    &__inf {
        width: 33.3%;
    }
    &_img {
        margin-top: 65px;
    }
    &__text {
        padding: 0 34px;
    }
    &_subheader {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &_descr {
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        margin-top: 20px;
    }
    span {
        text-decoration-line: underline;
        color: #FF0000;
    }
    &_icons {
        &_animation {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}
